body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#etchContainer {
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(16, 1fr);
    width: 500px;
    height: 500px;
}

.grid {
    border: 1px solid lightgrey;
    background-color: white;
}

.grid:hover {
    background-color: blue;
}